*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.wrapper{
    background-color: cadetblue;
    width: 100%;
    margin:0;
    padding-top:30px;
    padding-bottom:30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.box{
    width: 600px;
    height:400px;
    background-color: white;
    margin:20px;
    border-radius: 15px;
    border: 1px black solid ;
}
.box h2{
    height: 10%;
    width:100%;
    text-align: center;
    line-height: 40px;
    margin-bottom: 30px;
}
.wrapper-gatti{
    height: 90%;
    width:100%;
}
.wrapper-gatti ul{
    list-style: none;
    font-size: 22px;
}
.wrapper-gatti ul li{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
span{
    min-width: 100px;
}
